.card{
    border: none!important;
    border-radius: 0!important;
	box-shadow: 2px 2px 8px rgba(45, 45, 45, 0.36);
}

/* LOGIN PAGE */

#loginPage{
	min-height: 100vh;
	background-image: url(../img/blue-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#loginPage .container, #loginPage .row{
	min-height: 100vh;
}


/* SIGNIN */

#signinPage{
	min-height: 100vh;
	background-image: url(../img/blue-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#signinPage .container, #signinPage .row{
	min-height: 100vh;
}