.post{
	box-shadow: 2px 2px 8px rgba(45, 45, 45, 0.36);
    margin-bottom: 3rem;
}

.post-header img{
    width: 100%;
}

.post-body{
    padding: 1.5rem;
}

.post-body a{
    color: #343a40 !important;
    transition: all .3s;
}

.post-body h2{
    font-weight: 800!important;
}

.post-body a:hover{
    color: #ed4961!important; 
	text-decoration: none;
}

.post h2, .post h2 a{
	font-family: "Raleway", serif !important;
}

.post-body span{
    color: #999;
    font-style: italic;
}

.post-footer{
    padding: 0;
}

.post-footer > .row{
    margin: 0;
}

.post-footer > .row > div{
    border: 1px solid #DDD;
    text-align: center;
    padding: 0;
}

.post-footer > .row > div > a{
    display: block;
    padding: 1rem 0;
    color: #343a40;
    transition: all .3s;
}

.post-footer > .row > div > a:hover{
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);
    color: #ed4961;
}

.media{
	background: #FFF;
	border-left: 3px solid #ed4961;
	background: rgba(0, 0, 0, 0.015);
}


.blog-pagination .page-btn{
    color: #343a40;
}

.page-btn:hover{
    text-decoration: none;
    color: #ed4961;
}

.page-btn svg{
    transition: margin .3s;
}

.left-btn:hover svg{
    margin-right: 3px;
}

.right-btn:hover svg{
    margin-left: 3px;
}

span.date{
    font-style: italic;
}